<footer class="footer">

</footer>

<div class="hidden" itemscope itemtype="http://schema.org/Person">
	<span itemprop="givenName">David</span>
	<span itemprop="familyName">Jiang</span>
	<span itemprop="name">David Jiang</span>
	<span itemprop="jobTitle">Software Engineer</span>
	<span itemprop="nationality">Canadian</span>
	<div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
		<a itemprop="url" href="https://illinois.edu/">
			<span title="University of Illinois" itemprop="name">University of Illinois</span>
		</a>
	</div>
	<div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
		<a itemprop="url" href="https://www.ucl.ac.uk">
			<span title="University of Waterloo" itemprop="name">University of Waterloo</span>
		</a>
	</div>
	<a href="https://davidjiang.cloud" itemprop="url">Portfolio</a>
	<a href="https://davidjiang.cloud/blog" itemprop="url">Blog</a>
</div>